@import url(global.css);

* {
    padding: 0rem;
}

#rose {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:38vw;
    background: rgb(173, 3, 3);
    padding: 2rem;
    margin: 38vw;
    margin-top: 13vw;
    margin-bottom: 13vw;
    background: url("T1A2-img/luna-clicks-red-rose.jpg") no-repeat 1% center;
    background-size: cover;
    border-radius: 00% 00% 500% 500%;
    box-shadow: 0px 0px 200px 90px #023835;
    opacity: 80%;
}

section {
    height: 20%;
    display: inline-block;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#white-flower {
    width: 60%;
    height: 40%;
    background: rgb(173, 3, 3);
    padding: 19vw; 
    margin-bottom: 12%;
    margin-left: 40%;
    background: url("T1A2-img/majid-rangraz-white-flower.jpg") no-repeat center;
    background-size: cover;
    border-radius: 50% 0% 0% 0%;
    box-shadow: 0px 0px 200px 10px #4e19e0d6;
}

#blue-flower {
    width: 60%;
    height: 60%;
    background: rgb(173, 3, 3);
    padding: 15vw;
    margin-top: 12%;
    margin-right: 40%;
    background: url("T1A2-img/vladimir-malyutin-dark-blue-flower.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0% 0% 50% 0%;
    box-shadow: 0px 0px 200px 80px #023835;;
    opacity: 80%;
}

h2 {
    color: #920000;
    font-family: Lato, sans-serif;
    font-size: 4rem;
    text-align: center;
    box-shadow: 0px 30px 30px 0px#023835;
}

main {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 120vw;
    padding-top: 10vw;
    padding-bottom: 20vw;
    font: color white;
    
}
/* main a {
    
    font-family: Lato, sans-serif;
    font-size: 4rem;
    color: #6a6b6b;
    text-decoration: none;
    padding-top: 1vw;
    padding-bottom: 1vw;
} */

#twitter {
    /* padding-left: 15vw; */
}
/* 
#twitter:hover {
    transform: scale(2.9, 2.9);
    transition: 0.8s;
    /* padding-right: 100vw; */
    /* padding-left: 100vw; */
*/

#resume {

}

#github {
    background: #b42222 no-repeat;
    border-radius: 50%;
    /* margin-left: 75vw; */
}

/* main a:hover {
    transform: scale(2.9, 2.9);
} */

@media screen and (min-width: 800px) {
   main a{
    transform: scale(1.5, 1.5);
    padding: 1vw;
   }
}

/* @media screen {
    body {
        transform: scale(0.5);
    }
    
} */