@import url(global.css);

#logo:hover {
    box-shadow: 0px 0px 500px 110px  rgba(169, 8, 8, 0.717);
    transition: 0.7s;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(173, 3, 3);
    border-radius: 5px;
    padding: 2rem;
    margin:5vw;
    background: url("T1A2-img/shane-avery-dark-geo-plants.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 200px 80px#6a6b6b;
    opacity: 20%;
}

main:hover {
    opacity: 80%;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}

main img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: index 2;
    width: 25vw;
    border-radius:35% 35%;
    box-shadow: 0px 0px 200px 90px #000000;
    opacity: 20%;
}

main img:hover {
    opacity: 98%;
    transition: 2s;
}

h1, h5, p {
    color: #6a6b6b;
    font-family: Lato, sans-serif;
    text-align: center;
}
h1 { font-size: 5rem; }

h5 { font-size: 1.5rem; }

p { padding: 1rem; }


section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px;
    padding: 2rem;
    padding-top: 0rem;
}

#lion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vw;
    background: rgb(173, 3, 3);
    border-radius: 5px;
    padding: 2rem;
    margin: 34vw;
    margin-top: 13vw;
    background: url("T1A2-img/kevin-mueller-lion-doorknocker.jpg") no-repeat center;
    background-size: cover;
    border-radius: 50% 50%;
    box-shadow: 0px 0px 200px 90px #023835;
    opacity: 80%;
}



#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 4%;

}

footer a {
    left: 1.5rem;
    background-color: rgba(169, 8, 8, 0.717);
    background-size: cover;
    border-radius: 50%;
}

footer p {
    color:#b42222
}

footer a:hover {
    box-shadow: 0px 0px 50px 30px #023835;
}

@media screen and (max-width: 550px) {
    h1 { font-size: 3rem; }
}

@media screen and (max-width: 695px) {
    main img {
        opacity: 98%;
        transition: 2s;
    }

    main {
    opacity: 80%;
    transition-duration: 0.8s;
}
}
    